[2020-09-04 09:05] wellemut opened #765 "Replace Opening-Hours Button by a smart link"
# Problem
The Opening hours configuration button is much to prominent! Many users think, that they can just configure their opening hours in the new tab and when they close it, the time is saved. (In fact, its more that this site is not good: https://projets.pavie.info/yohours/ There should be a big "Copy your opening hours" Button)

The Button is the biggest in the entry form , as if the opening

[2020-09-04 10:48] #763 closed

[2020-09-04 21:00] wellemut opened #770 "Sidebar-width: 30% of screen, not larger than 500px, not smaller than 300px"
# Problem
On Narrow Pages (smaller than ~600 px) and on the mobile phone, the sidebar covers a lot of the map, although the font gets smaller allready. But it is useless that the font gets smaller, because still the same map-area is covered.

The Rating-Flower seems to be confusing with the pin-colours on the map. and The information of the ratingflower is useless in the search result list.

# Sol

[2020-09-04 21:20] wellemut opened #771 "Move headline for ratings above rating flower"
# Problem
People don't understand the rating flower, and because it is above the headline, they sometimes dont connect it with the rating commens.

# Solution

- [ ] Move the headline above the flower

- [x] Rename the the Headline
![grafik](https://user-images.githubusercontent.com/15019030/92285721-4d5c7000-ef05-11ea-8448-836fd861d0fd.png)

[2020-09-13 15:02] wellemut opened #776 "kvm-Iframe with Dropdown and Preselected Tags"
# Problem
für viele technisch weniger versierte Homepage-BetreiberInnen ist das einbinden von Iframes zu kompliziert, besonders wenn eine Begriffliche Vorauswahl getroffen werden soll. (https://blog.vonmorgen.org/iframes/#karte-mit-begriffsauswahl)
Immer mehr mögliche funktionen wie fixed hastags machen es auch immer umfangreicher.

# Solution
hilfreich wäre, ein Wordpress-Plugin zu haben, mit dem

[2020-09-16 13:12] #753 closed

[2020-09-16 13:33] #726 closed

[2020-09-16 13:39] #751 closed

[2020-09-16 13:46] #761 closed

[2020-09-16 13:46] #771 closed

[2020-09-16 20:20] paviro opened #777 "Custom suggestions for search field / hide search bar"
It would be great to have a way to define custom suggestions (or at least disable them completely) for the search field.
Currently the search bar on our site shows a lot of very useless tags that will never result in any findings as we use a fixed tag. They are also mostly German even if the visitor is not.

![suggestions](https://user-images.githubusercontent.com/992826/93388239-b2e81f00-f86a-11e

[2020-09-19 17:14] wellemut opened #778 "Dont't load with active cursor in searchbar"
# Problem
Since the last update with the acessibility-improvements #754 the iframe causes problems on sites, because the site starts scrolling while loading and jumps directly in to map iframe, where the cursor is placed in the search line.
Test it by just clicking here: https://blog.vonmorgen.org/

This is very annoying and makes the map useless in iframes. But Iframes are our most important sell

[2020-09-20 11:10] wellemut opened #779 "Make history/archive link on profile less prominent"
# Problem
The Report button is for 99% user much more important and the only way to delet things.
But the "View history or archive this entry" seems to be more important, more prominent. That is bad.

# Solution
- make "View history or archive this entry" last row
- make it not bold but in the style of "last edit..."
![image](https://user-images.githubusercontent.com/15019030/93709916-a1409900-fb4

[2020-09-21 15:39] wellemut opened #781 "Peformance optimizations (Tracking issue) loading speed"
## Problem

The frontend is very slow, especially on mobile phones it is terrible.

## Solution

### Analysis

What are the main aspects that makes the frontend slow?

- [ ] File size: what makes the bundle so fat? (#345 , #402) The following list is not the not the agreed requirement, just for tracking how far we come
  - [ ] less than 2000 kBytes (Raw)
  - [ ] less than 1500 kBytes (Raw)
  - [ ]

[2020-09-23 20:56] #667 closed

[2020-09-25 12:56] wellemut commented on #776
Hi @navid-kalaei

I would suggest this way
- [x] Start by building the iframe based on https://github.com/Filmmakers4Future/Website-Content/blob/main/map/section-0.md on a subdomain like: kartevonmorgen.org/dropdown
- [x] Build the connection to a (any) sheet on a nextcloud like https://nextcloud.wechange.de/s/noQceTifmHsCGKX to pull the possible selections
- [x] Extend the iframe-creator with a c

[2020-10-04 09:54] DerZyklop opened #783 "Tooltips on Links to other pages don’t work on Mobile"
The Mobile site has a tooltip on a link to another website. The "archive" link. What happens is: The tooltip shows up in the millisecond, another website opens. As you can see in the following video, the tooltip is there when i navigate back, but thats to late for the info.

https://streamable.com/5vbthp

Possible solution: Tooltip on Desktop, but always-visible hint on mobile. Or even better. Put

[2020-10-06 22:59] wellemut opened #784 "Integrate sharing-Button in the Hamburger menu"
We (@wellemut @dmitrap) think it's better to have the sharing button directly on the map: https://github.com/kartevonmorgen/kartevonmorgen-v1/issues/11

# Problem
Many users dont see the sharing button, because it is "hidden" within map-navigation tools.

# Solution
## New Solution
Integrate in the Hamburger Menu

### Old Idea: Make Button extra bold
- width: 1.525em (instead of width: 1.125em;)
-

[2020-10-09 21:40] wellemut opened #786 "Stop loading logoanimation.gif"
# Problem
our maps takes too much time for loading.
(Some bigger issues are discussed herer: https://github.com/kartevonmorgen/kartevonmorgen/issues/781 )

# Smart solution
- Dont load logoanimation.gif because it has 1.2 MB
![grafik](https://user-images.githubusercontent.com/15019030/93789823-9fee9980-fc32-11ea-99ba-39fba19be0c3.png)

[2020-10-09 21:49] #778 closed

[2020-10-20 23:08] wellemut opened #787 "Make "Back-Button" in Browser work usefully"
# Problem
On any page that has a map-iframe, there is a problem with the "Go Back"-Button of the browswer. It is not really working once you have navigated on the map, because kvm writes to many entries in the history.

How can we stop the browser of doing it?

Check it out on: https://www.werkzeugkasten-wandel.de/werkzeuge-des-wandels/gemeinsame-maerkte-oeffentlichkeitsaktionen/heilbronn-nachhalt

[2020-10-21 16:14] #729 closed

[2020-10-21 16:14] #716 closed

[2020-10-21 16:15] #377 closed

[2020-10-21 16:15] #731 closed

[2020-10-23 08:10] #442 closed

[2020-10-26 01:07] wellemut opened #788 "Formatierungsmöglichkeiten für den Beschreibungstext"
# Problem
1. Es gibt keine Formatierungsmöglichkeiten für den Beschreibungstext,
und anscheinend auch keine Möglichkeit, eine Datei anzuhängen (zB mit einer vernünftig formatierten Beschreibung)

1. Nach Formatierungen im Text hat sonst bisher niemand gefragt. Wäre zu überlegen und sicherlich nicht all zu aufwendig.
-> Du kannst natürlich die link-felder nutzen, um alles mögliche zu verlinken. Mei

[2020-10-26 01:21] wellemut opened #789 "Termin-Anzeige direkt in der Karte"
# Problem
3. Die Termin-Anzeige (Datum, Uhrzeit) ist eher unauffällig; Auf der Karte ist am Pin kein Datum zu erkennen.
- Es fehlt die Angaben des Wochentags.

# Solution
eine Termin-Anzeige (Format 21.10.) direkt in der Karte wäre bei events vielleicht auch sinnvoll?
- Wochentag in der Ergebnisliste als auch auf dem Profil anzeigen. (Format Mo. 26.10. und auf dem Terminseite mit Jahreszahl.)

[2020-10-26 17:01] wellemut commented on #758
Still in discussion on Trello:https://trello.com/c/jjlaTfxY/18-ki-aus-stichworten-kathegorie-erkennen

[2020-10-28 15:22] wellemut opened #790 "Modular/ Plugin-Frontend Architecture"
Instead of one big frontend app, @regenduft suggested a small, solid basic-frontend, which then will be improved by independet plugins which can be written in different languages and manged by different developers.
I could immagine a plugin seperation like this (independent of the lanugage):

- **Map-basis:** Map with pins (Initiatives, Companies), list of all pins on the left or entry detail desc

[2020-10-28 16:57] wellemut opened #791 "Add Copyright Informatio of OSM in the right bottom corner."
See: https://www.openstreetmap.org/copyright
In old version we had it: https://kartevonmorgen.org/archive/v1.41/#
Related:
https://github.com/kartevonmorgen/openfairdb/issues/307

[2020-10-28 22:20] #557 closed

[2020-10-30 11:53] #677 closed

[2020-11-02 15:27] #596 closed

[2020-11-02 15:32] #666 closed

[2020-11-07 15:20] #705 closed

[2020-11-07 15:20] #748 closed

[2020-11-07 15:20] #765 closed

[2020-11-07 15:20] #779 closed

[2020-11-07 15:20] #787 closed

[2020-11-07 15:20] #791 closed

[2020-11-07 20:39] #737 closed

[2020-11-12 07:28] ubdu opened #795 "Entry cannot be viewed/edited"
After adding a new entry, it is visible on the map, but cannot be viewed or edited: only a white page appears.
This refers to Id 11366369d70a4785b4d34f894ec0d266
The DB-entries seem to be correct. As far as I can see there a only 2 specific characteristics of the entry:
- Cityname is written in all uppercase characters
- A "contact name" is given

[2020-11-12 16:00] #795 closed

[2020-11-13 18:37] #723 closed

[2020-11-18 12:51] wellemut opened #797 "custom links: Change Tooltips and reomove character-limit"
## Problem
1. The description has a wrong length limit which makes it impossible to use the field
2. The tooltip (while hovering) is just the title instead the short description. the short descritpion is not visible at all.
![grafik](https://user-images.githubusercontent.com/15019030/99531804-9750e000-29a3-11eb-8eef-ecb375a3ee9b.png)
![grafik](https://user-images.githubusercontent.com/15019030/995

[2020-11-18 14:46] #324 closed

[2020-11-19 17:28] #655 closed

[2020-11-19 17:29] #654 closed

[2020-11-24 17:42] #402 closed

[2020-11-27 08:27] wellemut commented on #781
Bundle | Parsed | Gzipped
-- | -- | --
app | 3.68 MB | 1.09 MB
renn | 3.68 MB | 1.1 MB
mapAndEntryList_widget | 2.30 MB | 684.06 KB
map_widget | 1.59 MB | 482.84 KB
businesscard_widget | 1.15 MB | 335.41 KB

[2020-12-02 22:52] wellemut opened #798 "Open Custom Links in new tab!"
# Problem
Custom links open in the iframe instead of a new tab: https://www.werkzeugkasten-wandel.de/projektkarte.html

# Solution
Pleas make it open in a new tab, the same way as for the main homepage-link!

[2020-12-08 12:08] wellemut opened #799 "Duplizieren von Einträgen und Termine"
Toll wäre ein simpler button im Frontend mit dem Termine und Einträge schnell vervielfältigt werdne könnten.
Besonders hilfreich für Serientermine

Beim Klicken darauf (Button zum beispiel unten im Footer) öffnet sich eine Eingabemaske die vorausgefüllt ist mit den Daten des gewählten eintrags.

[2020-12-09 14:08] wellemut commented on #307
- Define URLs to each icon via categories.csv from #776
- Create lookup-table while loading the map
- show each icon depending on the used tags.
  - if several icons match the tags, show first the most used on but when zooming open a cycle-menü which shows all possibel icons

[2020-12-12 12:23] #776 closed

[2020-12-12 12:23] #798 closed

[2020-12-14 00:50] wellemut opened #804 "Install Syncthing on frontend-server"
This is the Wiki Explanation for this issue: https://github.com/kartevonmorgen/kartevonmorgen.ts/wiki/How-to-customize:-upload-files#configure-syncthing

# Problem
Our customers need to update regularly their customized options in their dropdowns #776 Like: https://beta.kartevonmorgen.org/#/?center=51.427,8.712&zoom=6.00&search=%23fairfashion%20Kleidung&dropdowns=kvm
Therefore we need to sync thes

[2021-01-08 18:06] #786 closed

[2021-01-11 12:13] flosse opened #812 "Release v0.2.0 (tracking issue)"
**Meeting Notes:** https://pad.systemli.org/p/kvm-refactoring-keep

**ToDos ordered by priority:**

## 1st prio
**Maintainability**
- [x] Integrate `kvm-core` WASM module (it took a lot of minutes ;-))
- [x] Use swc instead of babel (10 minutes + some hours) #807
- [x] Refactor inflated and unnecessary dependencies #781 (Navid: 14h until now)
- [ ] Make sure there is no business logic anymore in a

[2021-01-12 17:26] flosse opened #813 "New Routing / URL schema"
Here are some examples how it could look like
- `/entries/7e78a51e17704992a2019d4ab301a275?title=Ein%20wundersch%umlaut%ner%20eintrag`
- `/entries/7e78a51e17704992a2019d4ab301a275?view=businesscard`
- `/entries/7e78a51e17704992a2019d4ab301a275/edit`
- `/search?term=Cafe Restaurant Gastronomie&center=50.114,8.520&dropdowns=kvm`

## Entities / Resource

- `Place` / `Entry`
- `Event`
- `Rating`

## A

[2021-01-20 16:05] #678 closed

[2021-01-21 04:35] wellemut opened #817 "Open the tooltip on the map-pin when hovering the list-item"
## Problem
If there are many pins on the map and you hover an Item, you hardly see, which is the corresponding pin, because the highliting by fading out the others is not enough if all other lay above each other.

## Solution
just show additionally the tooltip-Popup-lable of the corresponding pin!
But only show one lable not both!!!
![grafik](https://user-images.githubusercontent.com/15019030/1052

[2021-01-21 21:30] wellemut opened #818 "show status "archived" or "rejected" on entry detail"
## Problem
Archived entries can still be visible if you have the link. You first have to access the backend, and only if you have pilot-rights, you can see the status.
Example: https://kartevonmorgen.org/#/?entry=adf9b8cd09324a0693bfeb4d927087a2&zoom=15.00&dropdowns=kvm only here you can see it: https://openfairdb.org/places/adf9b8cd09324a0693bfeb4d927087a2/history

## Solution
Use the "warning" f

[2021-01-23 01:00] wellemut opened #819 "Ratings: Show "Visionary" only for Pilots"
## Problem:
Many anonymous users use give "visionary" ratings for things, that are just "from tomorrow". That is kind of annoying.

## Solution:
Anonymous users should only be able to choose
- of tomorrow (pioneering)
- standard (not particularly sustainable)
- so yesterday (a few aspects to criticise)

### 2nd Step: Show extreme ratings only for Pilots
- User has to be logged in
- if `/users/curr

[2021-01-23 01:16] wellemut opened #820 "Ratings: Make bad rated entries less prominent"
## Problem
Bad rated entries are still too prominent
User might think that we actually recommend them
Users complain, why we put them on the "Map of Tomorrow"

## Suggested Solution
Make entries with an average rating < 0
- smaller circles (or dots)
- grey #DDDDDD and a little transparent
- Put them below the events in the search result list

[2021-01-24 19:09] #750 closed

[2021-01-27 10:38] #461 closed

[2021-01-29 14:52] wellemut opened #821 "searchbar: x-button to delete searchline in one click"
## Problem
Deleting a searchterm take a lot of time because with each deleted letter, a new search is requested

## Solution
A little x button, like on googl, would solve it. When you click on it, the whole searchbar is cleared (except of FixedTags if there are some)
![grafik](https://user-images.githubusercontent.com/15019030/106289875-138c5d00-624a-11eb-81d8-e276ae73c0c6.png)

[2021-01-31 23:23] wellemut opened #822 "Landingpage: Update Team"
Update the Teamoverview:
![grafik](https://user-images.githubusercontent.com/15019030/106400730-9535e380-6420-11eb-940f-e06b92f34fdc.png)

Add new members:
Take all infos from: https://blog.vonmorgen.org/kontakt/
- Anna Rogun
- Laura Leichtle
- Uwe Klotz
- Manuel Molt
- Alex Reiner
- Heiko Hoffmann

[2021-02-03 03:44] wellemut opened #823 "Remove "Colapse-filter" button"
# Problem
The colapse-filter button needs too much space. And if you click it to close the location search bar, you just have saved one line.
![grafik](https://user-images.githubusercontent.com/15019030/108494070-67b5ba80-72a7-11eb-8f02-8363b7b6461d.png)

# Solution
So we can just skip this Button!
If a user does not want the location searchbar, he just have to remove the location.csv file...

[2021-02-03 13:03] wellemut opened #824 "Map - List -connection: Scroll to corresponding list entry when hovering a pin"
# Problem
If you browse the map, you can not take advantage of the short description in the search result lis

# Solution
Make the left search result list scroll to the entry you are hovering
Like on this map: https://biovereenegung.lu/bio-betriebe/

[2021-02-03 19:03] wellemut opened #825 "Multi-Select of entries to write a series-message"
And if you need something, just focus on our neighbourood, select the offers you are intrested and send an email to all of them at once.

### Mockups 1  Flow von der Startseite in die Karte hinnein
https://xd.adobe.com/view/c795e7d6-39e1-4003-b8df-167a8bee9eab-92c6/
![grafik](https://user-images.githubusercontent.com/15019030/90916223-fde45300-e3e0-11ea-9730-2d24110a4019.png)

### Mockups 2 - Mess

[2021-02-03 19:53] #758 closed

[2021-02-03 20:56] wellemut opened #826 "Individual Iframe for Känguru"
Based on the Iframe for [RENN.Süd](https://kartevonmorgen.org/renn.html#/?center=48.980,2.637&zoom=5.00&dropdowns=rennnw), Känguru-Verlag gets his own

## Spezifications

- [ ] No Type-Chooser
- [ ] FixedTags=t.b.d. https://github.com/orgs/kartevonmorgen/projects/13#card-54185319
- [ ] Categories-Dropdown based on these Tags: https://docs.google.com/document/d/1r8joP9Wn3qzEF9Gu1RodlZZYdBJji7zbSTA1

[2021-02-03 22:16] #372 closed

[2021-02-05 16:17] wellemut opened #827 "Search-bar-Dropdown: Replace all searchterms when selecting new"

[2021-02-05 19:28] #707 closed

[2021-02-25 02:24] #777 closed

[2021-02-25 02:55] #338 closed

[2021-02-28 10:23] #823 closed

[2021-03-01 01:26] wellemut commented on #813
We opende a special discussion for the URLS of entries: https://github.com/kartevonmorgen/kartevonmorgen/issues/347

[2021-03-01 01:59] wellemut commented on #813
@navid-kalaei
Do you have any suggestions of the URLs in your new map?
- Thats how you currently did it: http://185.24.255.61:3003/maps/main?lat=50.5064398321055&lng=10.305175781250002&zoom=6&type=2cd00bebec0c48ba9db761da48678134&type=77b3c33a92554bcf8e8c2c86cedd6f6f&type=c2dc278a2d6a4b9b8a50cb606fc017ed
- I am wondering, if we could **skip the /maps/** The current system like https://kartevonmorg

[2021-03-04 12:17] wellemut commented on #813
https://kartevonmorgen.org/entry/76a5c4cd450b4274b5d4be3ac719bb69?businesscard&center=49.545,8.656&zoom=15.00

[2021-03-10 16:04] #821 closed

[2021-03-16 16:36] wellemut commented on #453
Valentin: btw. I stumbled over this paper about how to reduce point clutter on maps, could be an interesting read if you're interested in the theoretical backgrounds as we have a map with many points on it 😅
https://sci-hub.tf/10.1179/1743277413Y.0000000065

[2021-03-17 12:04] wellemut commented on #692
Protokoll neue API https://wechange.de/project/karte-von-morgen/document/merge-events-into-places-openfairdb/

[2021-03-17 12:19] wellemut commented on #813
@navid-kalaei
We anyway have to build a URL-Parser / Redirection from the old URLs to your new structure.
Thats why @flosse encourages you to use whatever URLs you think are the best, but the most important thing is that the old URL Schemata is working. After the refactoring is done, we talk about the final URL Schema...

[2021-03-17 17:08] wellemut commented on #374
1 Colum:
- Title (max 50 characters, limite by kvm)
- Maybe Short description of the first sentence (max. 12 Words)

2. Coloum
- Time Mo. 21.5.21, 14:00 - Tue. 24.5., 14:00 (Use the standard) https://www.npmjs.com/package/moment
- Location (use the standard) https://www.npmjs.com/package/@fragaria/address-formatter

![grafik](https://user-images.githubusercontent.com/15019030/111508240-c6a60c80-87

[2021-03-21 23:00] wellemut commented on #374
http://54.37.222.78:8080/tables/main?start_min=1616198400&text=poc-regionaltreffen&bbox=47.96188179204514,7.697811126708985,48.03815136516193,7.932300567626954
![grafik](https://user-images.githubusercontent.com/15019030/111923858-96d76b80-8aa1-11eb-8ba7-2ad3583865c5.png)

Helmut Wolman, [21.03.21 23:24]
Thanks a lot! I think for the moment that works great. Things we could improve
- Title left: E

[2021-03-24 09:10] wellemut opened #829 "Strg + Scroll to prevent unintended zooming in the map"
## Problem
When our Map is used in iframe, scrolling the page is suddenly stopping when you hit the map. That it is directly zooming.

if you were the right person to ask, if there are plans for the embedded
map (iframe) to support an overlay like "Press crtl + scroll to scroll".
See also in the screenshot or at this homepage maps-iframe.com/
That would make it a lot simpler to scroll past the iFr

[2021-03-28 01:36] navid-kalaei opened #830 "Tutorial anchor opens the map"
## Problem
When on the homepage clicks on the tutorial anchor, and then refreshes the page then the map will be shown

## Expected Behavior
On the homepage auto scrolls to the tutorial section

## Suspicious Cause
The existence of the `#` sign in the URL

## Screenshots
![Screenshot from 2021-03-28 06-05-13](https://user-images.githubusercontent.com/7106251/112739700-a700b680-8f8b-11eb-8e09-2f65d2

[2021-03-28 08:46] wellemut commented on #586
@navid-kalaei reopened for new frontend

[2021-03-29 14:16] navid-kalaei opened #831 "All events are created with the email of test@test.com"
https://github.com/kartevonmorgen/kartevonmorgen/blob/d7171e2b76a7b48e50160a06eb4579877d6cedab/src/Actions/server.js#L425

[2021-03-31 14:21] Scheibendreher opened #832 "Openfairdb Interface"
graphic interface for convenient work on the database, especially for new regpis,
 list entries by cities, category, etc.
-show more than 10 results

tbc

[2021-04-11 14:44] wellemut commented on #661
this is obselete, du to the new "orgTag" function, which allows even editing protected items...

[2021-04-11 14:44] #661 closed

[2021-04-14 09:45] wellemut commented on #833
Instead of providing an own upload, we could just better explain the field of the image URL with a phrase

"You can get the URL-address of any image in the web by just clicking on it to open the context menu and choose "Copy immage address"

https://github.com/kartevonmorgen/kartevonmorgen/issues/836

[2021-04-14 09:46] navid-kalaei opened #833 "Better explain, how to get an image URL"
## Problem:
Each entry shall have a cover image. However, the images could be broken resulting in showing a space on the cover. This leads to unpredictable user experience.

## Possible causes:
The image link attached to the entry cover is external. Therefore, we are dependant on an unreliable external source. This causes broken links for various reasons like a deleted resource or an expired authe

[2021-04-16 11:44] wellemut opened #834 "Promote one tag as "Main-Tag" / save the order of tags"
# Problem
The hashtags on the profile of an entry are in alphabetical order. That means, those with an "a" you see first.
Often, that does not reflect the most important tags. So people need a while to understand, what it really is.
and it is boring in the overview, as you mainly see #aktionen #antirassismus #armutsprävention and never #transition or #wandel (Eine Welt Netz NRW complains about)
![

[2021-05-03 09:07] wellemut commented on #593
Gut Example
![grafik](https://user-images.githubusercontent.com/15019030/116859072-afd64f00-abff-11eb-8040-3e1d65c3a808.png)

Hier sind die grenzen nur leider viel zu ungenau:
![Uploading grafik.png…]()

[2021-05-03 09:08] wellemut commented on #593
Die Musterregionen siehst du hier: https://www.biomusterregionen-bw.de/,Lde/Startseite
![grafik](https://user-images.githubusercontent.com/15019030/116859192-e01ded80-abff-11eb-9005-6f7ca1d7ad20.png)

[2021-05-03 13:37] Scheibendreher commented on #593
solution for Bio-Musterregion: The landkreise that are shown above are in the following .js. The variable musterregion contains the polygon layer and the variable musterStyling contains the styling (kvm green with 0.5 opacity).
both variable should be ready to use when the .js is loaded to the leaflet script..
https://nextcloud.wechange.de/s/mRqiwbzMfcnySAZ

i guess it would work the same for kvm

[2021-05-03 15:27] wellemut commented on #781
The current new versions reaches 37% https://developers.google.com/speed/pagespeed/insights/?url=ssr.kartevonmorgen.org&tab=mobile

![grafik](https://user-images.githubusercontent.com/15019030/116896623-baf7a200-ac34-11eb-801d-16a2d3c0be18.png)

[2021-05-17 16:29] subnoodle commented on #582
I don't understand the discussion. Seemingly some prefer having no clusters, others prefer having nice clusters.
Point is, that you can't choose until now, since clusters are not available.
If there are configurable, the project will meet the needs of more people.

I'm personally involved in a project with clusters as hard requirement.
And my colleague and i looked closely at this nice & neat proj

[2021-05-17 21:53] fwolfst commented on #582
For me the discussion is not "clusters vs no-clusters", it is "show relevant points on map" vs "maybe show relevant points on map", as with no-cluster, max 100 entries probably many entries are not shown in the map.

[2021-05-18 00:55] wellemut commented on #582
Yes definitly @subnoodle, that would be the best, if you can just switch.

We are currently rewriting everything to typescript: https://github.com/kartevonmorgen/kartevonmorgen-v1
I think we should integrate it there.
Can you write this code?

[2021-05-19 10:22] wellemut commented on #374
Lets chout on Saturday
- [ ]  When do we have the list-view for entries too? Possible in June?
- [ ] When do we have the detailed list-view (see description)
- [ ] When do we have it filterable? (optional)
- [ ] When do we have it internationalized?

[2021-07-02 13:58] wellemut commented on #618
in the new frontend, Adress will always be shonw.
Navid does not validate adresses...

[2021-07-03 14:19] navid-kalaei commented on #776
1. @wellemut is the dropdown for the regions eliminated? because I could not find the kartevonmorgen.org, do we need that again?
1. and just for being extra sure: the renn-sud does not have any csv files on the production,
2. !!!IMPORTANT!!! the header of icon in the categories.csv is written the CAPITAL "I" as "Icon", however all the header attributes should be in lowercase

[2021-07-03 15:34] wellemut commented on #776
1. Yes, there are clients using the region's CSV too!
2. Yes they do have it activated https://www.werkzeugkasten-wandel.de/projektkarte.html
3. Thanks!

All custom CSV are in this file https://nextcloud.wechange.de/index.php/f/498663

[2021-07-06 15:11] navid-kalaei commented on #776
@wellemut we are safe to remove "X alle Filter löschen (show all) press Esc" from the categorees since we've got the little "x" button to clear the inputs

[2021-07-14 08:52] wellemut commented on #659
Its implemented in the new Frontend https://ssr.kartevonmorgen.org/

[2021-07-14 08:52] #659 closed

[2021-07-14 08:54] wellemut commented on #203
In the new frontend, this problem seems to be solved: https://ssr.kartevonmorgen.org/
all cities are found!

[2021-07-14 08:54] #203 closed

[2021-07-14 11:37] wellemut commented on #598
## Usecases für Übersetzungen
- Entweder weltweite Karte einer Kategorie
- Oder  ausländer suchen in ihrer Sprache in einem Land

A.) festes Tagsystem - tags sind entitäten
- OSM nutzt Tagsystem nur in english
  - jeder Tag hat eine ganz bestimmte Bedeutung
  - DAtenbank ist einsprachig
- Frontendanzeige individuell in jeder Sprache

B.) Entweder wir nutzen eine feste Ontology, die in die Suche im

[2021-07-14 18:34] wellemut commented on #595
The new code is in typescrpt: https://github.com/kartevonmorgen/kartevonmorgen-v1
I think this solves it quite easily

[2021-07-14 18:34] wellemut commented on #230
The new code is in typescrpt: https://github.com/kartevonmorgen/kartevonmorgen-v1
I think this solves it quite easily

[2021-07-14 18:34] #230 closed

[2021-07-14 18:34] #595 closed

[2021-07-14 18:36] #46 closed

[2021-07-14 18:36] wellemut commented on #46
This might be a bad idea, we have to skip it.

[2021-07-15 00:24] wellemut commented on #614
Visualization of System Architecture
![grafik](https://user-images.githubusercontent.com/15019030/125709247-47128e6a-6a23-43cc-839e-33a0f2715def.png)

Editable here: https://nextcloud.community.civilsocietycooperation.net/apps/drawio/22680

[2021-08-01 15:38] wellemut opened #835 "Duplicate-Map-View: Build Importer interface to compare duplicates"
Alternative Issue for Backend-Implementation: https://github.com/kartevonmorgen/openfairdb/issues/301

### What it should do:
- Give an csv-Import-Interface for Admins and Pilots (not for anonymous or everyday user)
- Load imported Entries from a csv in a specific format (compare: https://blog.vonmorgen.org/export-import/#upload-format)  in a Buffer (not in the ofDB) and show them
- Check it on du

[2021-08-02 10:02] navid-kalaei commented on #653
Ant has a ready to use component for this purpose. I kindly invite you to check it out.

https://ant.design/components/calendar/

[2021-08-03 12:48] wellemut commented on #653
Good Excample is the wechange Calendar: https://community.civilsocietycooperation.net/project/map-for-russia-of-tomorrow/event/calendar/
We need
- Monthe
- Week
- Day
- Listview

Something like the calendar of Trello would be perfect!
The calendar view is most important for iframes! https://github.com/kartevonmorgen/kartevonmorgen-v1/issues/11
![grafik](https://user-images.githubusercontent.com/15

[2021-08-03 13:33] wellemut opened #836 "Better explain, how to get an image URL"
Instead of providing an own upload, we could just better explain the field of the image URL with a phrase.

There could be a small "i" button where you see the

[2021-08-05 05:55] navid-kalaei commented on #760
I analysed the requirement and I came up with the conclusion that it is not reasonable to reuse the categories.csv file. The reason is firstly the values of the categories.csv can contain query-like strings however for rendering the checkboxes it would so complex to convert query strings to key-value pairs. Secondly, the recommendations for the search from the search input should be decoupled from

[2021-08-05 12:51] viktoriabakun commented on #307
I'll take this task

[2021-08-05 12:54] iJoise commented on #714
I take this task

[2021-08-05 14:37] wellemut commented on #722
This issues is solved now!
https://kartevonmorgen.org/renn.html#/?center=47.665,2.483&zoom=5.00&dropdowns=rennnw

![grafik](https://user-images.githubusercontent.com/15019030/128368595-75255fa8-598c-4192-ae44-15d68c64b726.png)

[2021-08-05 14:37] #722 closed

[2021-08-05 14:56] romish-maker commented on #363
Starting this issues at 16:30(Moscow) end 17:50

[2021-08-05 15:48] navid-kalaei commented on #307
@wellemut some categories are assigned with multiple tags. for example "karte von morge" has `kartevonmorgen kvm regpis thempis ideenhochdrei pioneersofchange pocsummit` should the front end render icon for the first matching token `kartevonmorgen` or for all of the tags?

[2021-08-05 15:53] wellemut commented on #307
if an entry has at least one matching tag, the corresponding icon shall be shown!

[2021-08-05 15:53] wellemut commented on #307
if an entry as two matching tags for different icons, it will only show the icon of the first one.

[2021-08-05 15:54] navid-kalaei commented on #307
what happens to the other tags? for example "karte von morgen" has "kvm" and "kartevonmorgen" should both tags get the icon? or i have misunderstood?

[2021-08-05 15:58] wellemut commented on #307
if you found the first matching tag, your icon for this entry is defined. Dont look, if there are more matching tags.

In the future, we might have "mainTags", that are more relevant than others. https://github.com/kartevonmorgen/kartevonmorgen/issues/834 But for now, just take the first you find.

[2021-08-05 16:01] wellemut commented on #363
@romish-maker please link your pull-request here!

[2021-08-05 16:09] romish-maker commented on #363
@wellemut sure, https://github.com/kartevonmorgen/kartevonmorgen-v1/pull/16

[2021-08-05 20:23] AndrusovN commented on #714
![2021-08-05_23-20-42](https://user-images.githubusercontent.com/48137429/128415817-c340d4d2-5cb8-4537-adcc-7bab2466eeca.png)
Before we choose any category there is only category selection field. So it would be very strange if after selecting it will move down to the 4-th position
My suggestion would be to leave it (category selection field) where it is now.

[2021-08-05 20:27] AndrusovN commented on #714
When sending request to server there appears CORS error because we send request from incorrect origin (localhost). Where the production version (v1) is deployed now? Maybe the problem will be solved if we deploy NEXT on some server

[2021-08-05 21:25] Vanya-afk commented on #744
I've done

[2021-08-06 08:43] navid-kalaei commented on #307
@viktoriabakun asks me whether the icons and the pins are in one svg or we will have two layers one for the actual pin and one for the icon inside. I would strongly recommend to make them separate because in case of customizations like renn we'll need to change the color of pin without affecting the icon inside. what do you think @wellemut

and from where they can have the url of the icons?

[2021-08-06 10:10] wellemut commented on #307
[categories.csv](https://github.com/kartevonmorgen/kartevonmorgen/files/6944813/categories.csv)

this file contains categories and Icon-URLS

[2021-08-06 12:14] AndrusovN commented on #760
Me and Romish are doing this issue

[2021-08-06 12:14] Vanya-afk commented on #836
I' take this issue

[2021-08-06 12:15] wellemut commented on #818
Use this API to get the status:
- https://app.swaggerhub.com/apis/Kartevonmorgen/open-fair_db_api/0.10.3#/Entries/Places/get_places__id__history__revision_

The Entry-ID and the Version number you got in the first call when opening the entry:
- https://app.swaggerhub.com/apis/Kartevonmorgen/open-fair_db_api/0.10.3#/Entries%2FPlaces/get_entries__ids_

[2021-08-06 12:16] AndrusovN commented on #818
Hi

[2021-08-06 13:21] wellemut commented on #804
The csv-file is uploaded to a public domain
i.e. https://kartevonmorgen.org/public/customizations/kvm/filters/categories.csv
somewhere in the frontend-code is the script, that transfers it to json.

[2021-08-06 14:31] Vanya-afk commented on #836
I did issue, so i wait u Helmut

[2021-08-06 15:39] Vanya-afk commented on #836
https://github.com/kartevonmorgen/kartevonmorgen-v1/pull/19

[2021-08-06 15:41] Vanya-afk commented on #744
https://github.com/kartevonmorgen/kartevonmorgen-v1/pull/17

[2021-08-06 15:56] wellemut commented on #836
en:
- You can easily get the URL-address of any image in the web by just clicking on it to open the context menu and choose "Copy image address". Paste this URL (which will end on .jpg, .png or similar) into this line!

de:
- Du kannst die URL-Adresse eines beliebigen Bildes im Netz ganz einfach abrufen, indem du auf das Bild klickst, um das Kontextmenü zu öffnen, und "Grafikadresse kopieren" wähl

[2021-08-06 16:46] wellemut commented on #760
Sorry, i just read this now @navid-kalaei

Whatever you want to add to the map, you want to search for it later. So it is definitly connected, both csv files. For our clients it would be much easier, if everything is in just one file!

I recommend to extend the csv like this:
![grafik](https://user-images.githubusercontent.com/15019030/128544171-990da395-fec1-403a-b2fc-ede3175b05bb.png)

Here is a

[2021-08-07 09:47] iJoise commented on #714
the task is ready
PR: https://github.com/kartevonmorgen/kartevonmorgen-v1/pull/23

[2021-08-07 10:24] AndrusovN commented on #760
Solved in
https://github.com/kartevonmorgen/kartevonmorgen-v1/pull/22

[2021-08-07 14:07] navid-kalaei commented on #363
here is the test domain: romish.kartevonmorgen.org

[2021-08-07 14:32] wellemut commented on #363
@romish-maker
Thank you very much and concratulations to your for having the first test online!!!

I think there is a missunderstanding, becaus the localize-me should not be active by default.
Only if you had a specific command in the URL, it should ask about your location and go there.

I would suggest to have an URL command like `&center=localize` which will replace the string `lat=48.7281&lng=9

[2021-08-07 14:39] navid-kalaei commented on #363
actually it's my fault that mentored him in the wrong direction, my understanding was the map should fly to the client's location automatically. Also, we will need one or two parameters like center or lat+lng for detecting the location of the map, so it's not possible to eliminate them. Further more, I think replacing the lat+lng to center or the Yandex format is far complex for the hackaton.

[2021-08-07 15:40] wellemut commented on #363
Ok, lets fix #813 after hackathon

But lets introduce the command `&localize` or `&localize=1` in the URL to acitvate this feature. So when you share a link with this Command in the URL it overrights the location-command

[2021-08-07 15:47] wellemut commented on #836
Title of the modal Window
en:
- How to get an image URL
de:
- Wie bekommst du die URL des Bildes?

es:
- Cómo obtener la URL de una imagen

pt:
- Como obter um URL de imagem

[2021-08-07 23:00] wellemut commented on #760
@navid-kalaei can you please send this to Andrusov.-Testdomain?

[2021-08-07 23:07] wellemut commented on #836
The whole fuction is perfect! (I commented already in https://chat.community.civilsocietycooperation.net/group/map-for-russia-of-tomorrow?msg=BTcjWRuacDa67tzB9)

Just the title could be clearer (only a translation-file question)

Thank you very much @Vanya-afk !!!

[2021-08-10 17:24] wellemut commented on #714
@navid-kalaei is this feature already running somewhere?
I redirected kirill.kartevonmorgen.org to your server, in case you need a domain for testing.

thank you very much!

[2021-08-10 17:57] wellemut commented on #307
This seems to be working really nicely!
Is it based on the categories.csv or hardcoded?
If this is done like this, you can merge it to the kvm-code as well @navid-kalaei

[2021-08-10 18:17] iJoise commented on #714
@wellemut After making the changes that are mentioned here https://github.com/kartevonmorgen/openfairdb/issues/363 I'm ready to add the necessary changes as originally intended, make some test entries and push them into your branch, if you don't mind

[2021-08-10 19:26] wellemut commented on #714
great, thank you very much!

[2021-08-11 15:57] wellemut commented on #813
https://kartevonmorgen.org/l/ Listview of all europe (bbox defined in config file)
https://kartevonmorgen.org/m/ mapview  (bbox defined in config file)
https://kartevonmorgen.org/e/6f39c3bd entry on the map in default kvm-layout
https://kartevonmorgen.org/e/6f39c3bd/ratings/ Ratings des eintrags
...

Show the following attributes only if they where modified by the user:

- Bounding box (only show,

[2021-08-12 10:39] wellemut commented on #836
Beautiful improvements of the Title. Thank you very much.

Pleas find a way, how the picutre is replace for other langugages, so we can show an enghlish or german context menu

[2021-08-12 10:47] wellemut commented on #714
Yes, please push a pull-requeste

@navid-kalaei can deploy it here http://kirill.kartevonmorgen.org/

[2021-08-12 10:51] wellemut commented on #744
Wohoow great!
I love that!!!
https://vanya.kartevonmorgen.org/

[2021-09-01 15:38] navid-kalaei commented on #813
FYI: The querystring API is considered Legacy. new code should use the URLSearchParams API instead. hence the commas will get translated as the URI code of `%2C` like the version of Yandex

[2021-09-07 17:04] wellemut commented on #784
With the larger button, this function is better on the map, than behind the burger menu

[2021-09-07 17:05] #784 closed

[2021-09-09 11:33] navid-kalaei commented on #374
the route has changed from `/tables` to `/t` to be consistent of `/m` which stands for the maps.

for the sake of automation and easier maintenance I have introduced the automated redirection policy.

[2021-09-10 06:55] JamieSlome opened #838 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-09-15 08:56] wellemut commented on #838
Thank you very much @JamieSlome !
Its a good idea.
But we have given the direkt link to https://kartevonmorgen.org/ and there in the footer you see our mailadress info@kartevonmorgen.org
So its quite simple to get in touch with us I think.

Please report your security issue here.
yours Helmut

[2021-09-15 08:56] #838 closed, assigned to nobody

[2021-10-06 10:31] wellemut commented on #276
The Button is just perfect!
But please make sure that the button also zooms in to my position always on  `&z=15.00`

![grafik](https://user-images.githubusercontent.com/15019030/136186495-d8b652e4-a3b2-4287-bf4d-cbdd10a5934d.png)

[2021-10-06 11:02] wellemut commented on #799
There has something been done already.
But on 22.8. it got removed by Navid. See https://github.com/kartevonmorgen/kartevonmorgen.ts/issues/8#issuecomment-903261304 Nr. 13

[2021-10-19 13:30] wellemut opened #839 "New Issue-Reposit and Issue-Processing mode"
Now, as we have a new frontend-reposit (https://github.com/kartevonmorgen/kartevonmorgen.ts), we should ether:
- A) move all relevant issues regarding new features to the new repository
- B) or, and I think this makes sense, we continue to collect all new functions and issues here in this repo, if they are relevant to both front- and backend, or unclear.
  - Only concrete Issues and Bugs, clearly

[2021-10-20 04:39] wellemut commented on #652
The new frontend shows the short description now
https://ssr.kartevonmorgen.org/m/main?c=51.0138%2C12.0300&z=6.00&type=event
![grafik](https://user-images.githubusercontent.com/15019030/138029351-d344d296-cda1-430e-9072-e7710e3384c0.png)

![grafik](https://user-images.githubusercontent.com/15019030/138028714-9d8ed991-38de-4779-8f51-2e6d05ca5771.png)

[2021-10-20 12:30] wellemut commented on #839
Markus findet, wir sollten das Frontend-Repo als Hauptrepo machen und alle anderen nur für konkrete Tasks...

[2021-10-31 21:37] wellemut commented on #698
Thank you very much! @uklotzde @navid-kalaei
This Event Filter is working great now https://ssr.kartevonmorgen.org/m/main?c=51.0483%2C8.1079&z=6.00&type=event

[2021-10-31 21:37] #698 closed

[2021-11-01 09:54] wellemut commented on #797
See new issue for the new frontend. https://github.com/kartevonmorgen/kartevonmorgen.ts/issues/61
This is outdated.

[2021-11-01 09:54] #797 closed

[2021-11-03 23:00] wellemut commented on #770
The sidebar should never become smaller than 300 px
This is strange:
![grafik](https://user-images.githubusercontent.com/15019030/140227028-0c70343d-cecb-4e72-b4cf-c1116acbc9ab.png)

[2021-11-07 15:17] wellemut commented on #760
Its implemented on https://co-map.ru/de/maps/main (which is currently not running)

But this implementation is hard coded and not based on the flexible csv file.

[2021-11-07 15:20] wellemut commented on #331
It is perfectly implemented on https://dev.kartevonmorgen.org/m/main?c=50.8233%2C10.9204&z=7.00&sidebar=hidden
so we can close this issue

[2021-11-07 15:21] #331 closed

[2021-11-08 13:45] navid-kalaei commented on #760
how do you evaluate the functionality on co-map? is it good enough to bring the feature from co-map as is or should I develop it myself?

[2021-11-15 17:32] wellemut commented on #364
@navid-kalaei
Please create this flexible tag-proposals for the new Frontend!
- If these preselected tags are flexible and easy to get, we can better just merge the new frontend to co-map.ru without loosing their preselection of tags.
- Make the tags from this list also availiable in the entry-formular  https://github.com/kartevonmorgen/kartevonmorgen/issues/760#issuecomment-969152947

![grafik](h

[2021-11-15 17:33] wellemut commented on #468
@navid-kalaei
- This autocomplete of tags is broken on https://ssr.kartevonmorgen.org/m/main?c=50.8233%2C10.9204&z=7.00 and https://dev.kartevonmorgen.org/m/main?c=50.8233%2C10.9204&z=7.00
- Also while creating new entries, no tags are suggested

- On the old version https://co-map.ru/de/maps/main?lat=55.7596&lng=38.7570&zoom=8.00&type=2cd00bebec0c48ba9db761da48678134&type=77b3c33a92554bcf8e8c2c86

[2021-11-15 17:41] wellemut commented on #760
It is working on co-map
![grafik](https://user-images.githubusercontent.com/15019030/141828903-499cc6f0-ded5-4fe0-92ed-96776fa18289.png)

- [ ] Now, we need to make this suggested list adatable for each frontend: https://github.com/kartevonmorgen/kartevonmorgen/issues/364#issuecomment-969144964

[2021-11-22 17:49] navid-kalaei commented on #817
## Tested Hypotheses
1. set the permanent attribute on Leaflet Tooltip does not work
1. benefiting from Ant Tooltip does not work
1. wrapping Ant Tooltip with Leaflet Tooltip does not work

I'm going to leave this issue work a better time

[2021-11-23 10:35] navid-kalaei commented on #364
- the CSV file is flexibale and easy to edit. I recommend to use an editor like Google Sheet, Microsoft Exel, or LibreOffice Calc. the file is place under the directory of: `public/dropdowns/main/categories.csv`

[2021-11-24 05:19] navid-kalaei commented on #776
the CSV directory is changed from `public/dropdowns/main` to `public/projects/main/dropdowns`

[2021-11-24 16:17] wellemut commented on #770
This 50% split looks creazy,
If disply has less than 400 px width just make the sidebar full screen
![grafik](https://user-images.githubusercontent.com/15019030/143275293-b266a6f2-424f-41e9-b3d1-5868b51bf78b.png)

[2021-11-25 06:24] navid-kalaei commented on #760
checkboxes for the search filters are on commit 3fd536a1763e8cc29d82697f3f9b9bcce569c797
![Screenshot from 2021-12-03 14-01-11](https://user-images.githubusercontent.com/7106251/144588320-f6ac7faf-9a1d-4a8b-83a2-626597ff11e7.png)

![Screenshot from 2021-12-03 14-01-18](https://user-images.githubusercontent.com/7106251/144588337-1714d6d4-ecfa-4fd0-9bdf-3f43c5f3f090.png)

[2021-11-25 06:25] navid-kalaei commented on #364
@wellemut shall we close this issue?

[2021-11-25 10:21] wellemut commented on #364
I still have to test it
Previously we had: https://kartevonmorgen.org/public/customizations/kvm/filters/categories.csv
Now we have: https://kartevonmorgen.org/public/dropdowns/main/categories.csv
But on https://dev.kartevonmorgen.org/public/dropdowns/main/categories.csv I am just reaching the landing page of the map.

What is the reason for changing the path?
If you could use a path like https://k

[2021-12-03 08:54] navid-kalaei commented on #364
Image preview:
![dropdowns](https://user-images.githubusercontent.com/7106251/144573959-e4c15655-3b93-4131-ac78-bc2315205c44.png)
![regions](https://user-images.githubusercontent.com/7106251/144585506-f33a6e84-ce50-4bff-bbcc-964a24084018.png)

[2021-12-03 11:15] navid-kalaei commented on #364
- I moved all of configuration files blonged to a project under one directory so everything would be findable. the directory of categories is `/projects/main/dropdowns/categories.csv`
- Yes, the categories are ingerated with the dev domain https://dev.kartevonmorgen.org/en/projects/main/dropdowns/categories.csv
- I updated the wiki for the categories csv https://github.com/kartevonmorgen/kartevonm

[2021-12-04 05:22] navid-kalaei commented on #468
the issue was due to maintanance I renamed the database. however extra to starting the synchronization again, I have developed a new flags to sync least used tags more frequently to cover all tags. for more information please check the wiki page

Warning: there is an issue with [openfairdb](https://github.com/kartevonmorgen/openfairdb) that does not return the right tags [openfairdb#368](https://g

[2021-12-10 16:36] navid-kalaei commented on #770
fixed on commit [73d6e62](73d6e62855082981085851cca7a9dc2d94bdd033)

the strategy is as follows:
for each screen size there's a fraction defined for the sidebar
when the screen size changes, the sidebar size changes as well regarding the configuration file
the configuration file is [placed here](https://github.com/kartevonmorgen/kartevonmorgen.ts/blob/73d6e62855082981085851cca7a9dc2d94bdd033/const

[2021-12-10 18:51] navid-kalaei commented on #276
implemented on commit cae69b7000197dda1c3ac35b8c3ffb7bc82480ad

the zoom value is configurable from [the map constants](https://github.com/kartevonmorgen/kartevonmorgen.ts/blob/03295bed164f5948ac2d0374eb88083ed6a447b5/consts/map.ts#L3)

[2021-12-10 20:06] wellemut commented on #770
I think we can orientat on the Trello-Desktop App, regarding the sidebar width.
This is the smallest view on Telegram
![grafik](https://user-images.githubusercontent.com/15019030/145634748-0e976071-d077-46a8-9e10-54c3f43ed345.png)

If smaller, only the map is visible:
![grafik](https://user-images.githubusercontent.com/15019030/145634787-6363bb5b-820b-4340-bfe9-1f6c15a7d1b3.png)

Maximum Sidebar w

[2021-12-13 19:41] wellemut commented on #356
@navid-kalaei You developed this feature so brillant just one year ago and I just realized, that it needs to be implemented also in the new frontend...

[2021-12-13 21:16] wellemut commented on #364
Very nice!

[2021-12-13 21:16] #364 closed

[2021-12-13 21:34] wellemut commented on #804
![grafik](https://user-images.githubusercontent.com/15019030/145892430-5d11a8a7-be6f-4d2a-a727-a91c653ee103.png)

[2021-12-18 17:40] navid-kalaei commented on #356
@wellemut it was implemented in the new front end months before! what problem are you facing? could you please share the link to the place you want to add the entry?

[2021-12-20 09:05] wellemut commented on #356
@navid-kalaei
The Problem is as followe:
1. I want to add a new entry in emmendingen, but have been searching before "weltladen" https://dev.kartevonmorgen.org/m/main?c=48.1210%2C7.8078&z=14.00&search=weltladen So I see only one entry in emmendingen
![grafik](https://user-images.githubusercontent.com/15019030/146740821-5d023e68-a5b7-48e7-b06b-1840b576bde5.png)

2. If I open the create-entry formul

[2021-12-20 09:22] navid-kalaei commented on #356
I'll develop that ASAP

[2021-12-26 22:09] wellemut commented on #468
Here is the description, of how to start/ restart the tag-suggestion script: https://github.com/kartevonmorgen/kartevonmorgen.ts/wiki/How-to-deploy:-tags-synchronizer

[2021-12-26 22:09] #468 closed

[2021-12-26 22:39] wellemut commented on #770
This sidebare is beautiful now and nicly usable on the smartphone! Thank you @navid-kalaei

One of our next features, after refactoring is finished and the new frontend is live, will be to add a breaking point, after which the center of the map is no more in the center of the screen, but the center between the sidebar and the right side. so the center and the pin of the entry is always visible on

[2021-12-26 22:42] wellemut commented on #276
Just beautiful working on https://dev.kartevonmorgen.org/

[2021-12-26 22:42] #276 closed

[2022-01-03 11:34] wellemut commented on #804
@alex0107 could you please also install syncthing on the server?
Here is how it works: https://github.com/kartevonmorgen/kartevonmorgen.ts/wiki/How-to-customize:-upload-files#configure-syncthing

[2022-01-04 21:58] wellemut commented on #781
### New Frontend, deployed by Alex
https://pagespeed.web.dev/report?utm_source=psi&utm_medium=redirect&url=new.kartevonmorgen.org
Mobile
![grafik](https://user-images.githubusercontent.com/15019030/148128805-0272cf60-a0a7-459e-a05d-59d02aeb0a34.png)
Desktop:
![grafik](https://user-images.githubusercontent.com/15019030/148129304-99e5b518-341b-4880-a04a-97b4fefa175d.png)

### Test Frontend deployed

[2022-01-06 04:45] navid-kalaei commented on #356
@wellemut developed on [51038d37](https://github.com/kartevonmorgen/kartevonmorgen.ts/tree/51038d37edd53ec7b6f1c2dab14fd476bb247e4b)

on create or edit an empty request with only bbox is sent to the backend. it means event times may need some modifications. please let me know if you need some filters on the `start_min`, `start_max`, or `end_min`

[2022-01-06 18:41] navid-kalaei commented on #689
@wellemut the design does not fit with the new interface, I'm going to develop the feature in a way that seems to usable, then we can iterate again and improve that

[2022-01-07 13:45] navid-kalaei commented on #689
developed on [96fe83d](https://github.com/kartevonmorgen/kartevonmorgen.ts/commit/96fe83d31aac4be4797639ae8df756b60b0eaa48) and [098aacd](https://github.com/kartevonmorgen/kartevonmorgen.ts/commit/098aacd39bdaff130822a2f86a38dbd9f58836ef). I would recommend to transfer this issue to the kartevonmorgen.ts.

you may not like the design but don't worry, I'll iterate over your feedback

![Screenshot f

[2022-01-07 23:19] wellemut commented on #356
Its perfectly working on https://dev.kartevonmorgen.org/m/main?c=49.4128%2C8.5597&z=11.00&tag=b%C3%BCrgerkarte

Thank you very much!

[2022-01-09 07:59] navid-kalaei commented on #813
@wellemut shall we close this issue?

[2022-01-10 09:48] wellemut commented on #813
yes

[2022-01-10 09:48] #813 closed

[2022-01-17 13:40] wellemut commented on #340
@dmitrap @navid-kalaei could you please estimate the effort to install Matomo on our German and on the Russian frontend seperatly?

It need to be individually acitvatable on seperate frontends, due to privacy-needs.

[2022-01-17 14:15] dmitrap commented on #340
i think this would help: https://www.npmjs.com/package/@datapunt/matomo-tracker-react

[2022-01-17 14:16] dmitrap commented on #340
basically it's the same as with any other tracking like google or yandex, it is done in react via library

[2022-01-18 06:02] navid-kalaei commented on #340
the estimation depends on the number of events we need to collect. for example: create entity form, entity detail form, clicking on buttons, searching for terms, and etc. could you please provide a list of requirements? then I can estimate the effort.

[2022-01-18 10:17] wellemut commented on #340
The Main difference: Matomo collects all data on our server. Google and Yandex steal them to create a hidden profile of all our users to advertise them...

We need:
1. Mainly to know how many users have used the frontend
2. What did they look for
  2.1 What searchterms did they use
  2.2 In which bbox did they search
  2.3 which entries did they click on.

less important
3. how many entries where

[2022-01-24 20:22] PolinaMandrik commented on #340
Hi guys, what is the status of the statistics issue?

[2022-01-24 22:32] wellemut commented on #788
@uklotzde Does the backend somehow filter the description-Text of entries/events?
Do we have to change something in the backend, if we want to enable the frontend to use Markedown?

[2022-01-24 22:33] wellemut commented on #788
@navid-kalaei Some Users, which import Ical-Events into our map complain about stupid looking descriptions, because they import markdown.

Do you have an idea, how we could enable markedown-descriptions for entries and how long it would take?

[2022-01-24 23:16] wellemut commented on #340
@dmitrap can you implement this?

[2022-01-24 23:25] #839 closed, assigned to flosse, navid-kalaei

[2022-01-24 23:27] #554 closed

[2022-01-24 23:27] wellemut commented on #554
Better solved here: https://github.com/kartevonmorgen/kartevonmorgen.ts/issues/82

[2022-01-24 23:29] wellemut commented on #347
Navid came up with a good structure https://new.kartevonmorgen.org/m/main/e/81dce0b67d8b4556a5954482aca3f659?c=48.0074%2C7.8669&z=15.00&tag=bildung-und-soziales

[2022-01-24 23:29] #347 closed

[2022-01-24 23:30] uklotzde commented on #788
Text is stored as is.

The tokenizer of the search engine might slightly be affected by the additional markup. Not sure how this is handled. Try it.

[2022-01-24 23:32] wellemut commented on #788
Thank you, and have a good night ;)

[2022-02-07 05:28] #356 closed

[2022-02-20 02:02] wellemut commented on #121
This is a perfect map for Hiking: https://www.thunderforest.com/maps/outdoors/
![grafik](https://user-images.githubusercontent.com/15019030/154825510-b415e9c3-f6b2-49bf-b0af-982dbfdf9fbc.png)

Pleas add this optional!

[2022-03-27 21:13] wellemut commented on #804
Syncthing is working perfectly now!
If needed, please document the steps to install here, so we get it faster next time https://github.com/kartevonmorgen/kartevonmorgen.ts/wiki/How-to-customize:-upload-files

[2022-03-27 21:13] #804 closed

[2022-04-01 05:04] wellemut opened #841 "make old frontend running under v0.kvm.org subdomain"
The old frontend must be always available unter v0. So that the basis URL can be used by the  new frontend

There is a reduction from the new to the old frontend in some cases
https://github.com/kartevonmorgen/kartevonmorgen.ts/issues/94

[2022-04-18 18:39] navid-kalaei commented on #770
@wellemut this issue was opened because of kartevonmorgen/kartevonmorgen#112 ?

[2022-04-20 11:20] alex0107 commented on #340
We could use my matomo server with Ip Anonymisation and cookieless-tracking

[2022-04-20 12:40] wellemut commented on #781
https://pagespeed.web.dev/report?utm_source=psi&utm_medium=redirect&url=kartevonmorgen.org

![grafik](https://user-images.githubusercontent.com/15019030/164230811-7b1c5ed1-813a-4319-ac35-0169071d5558.png)

![grafik](https://user-images.githubusercontent.com/15019030/164230877-d3f6600a-1ab8-4778-8548-d2d44f054428.png)

Campared to old frontende: https://pagespeed.web.dev/report?url=https%3A%2F%2Fv0

[2022-04-21 12:24] wellemut commented on #340
@navid-kalaei I think this code is for you

[code]

[2022-04-25 13:40] wellemut commented on #770
Really, really nice @navid-kalaei Thank you very much!

![grafik](https://user-images.githubusercontent.com/15019030/165100806-b40a61b5-56fc-4be9-a81c-9dc1e473f49c.png)

I love to see that much map!

[2022-04-25 13:40] #770 closed

[2022-04-26 12:34] wellemut commented on #841
https://v0.kartevonmorgen.org/ is beautifully running now.

Just the dropdowns are not working. Because https://www.kartevonmorgen.org/public/customizations/kvm/filters/categories.csv is not reachable.

@alex0107 can you make this URL availiable again?

[2022-04-26 12:58] alex0107 commented on #841
Should work now

[2022-04-26 20:53] wellemut commented on #841
Really strange.
I can manually download the file from: https://kartevonmorgen.org/public/customizations/kvm/filters/categories.csv
But not from https://kartevonmorgen.org/public/customizations/kvm/filters/regions.csv

- [ ] can you fix it @alex0107
It does not show any options:
![grafik](https://user-images.githubusercontent.com/15019030/165390432-3a4fee57-5bff-4fd2-987a-9cb3d58025a7.png)

The sta

[2022-05-05 10:01] alex0107 commented on #340
You just have to add this code inside the header or the footer :)

[2022-07-06 08:29] wellemut opened #842 "Update Certificate for https://v0.kartevonmorgen.org/"
Das Zertificat für https://v0.kartevonmorgen.org/ ist abgelaufen, sodass unser Glossar https://glossardeswandels.de/ nicht mehr geht.
![grafik](https://user-images.githubusercontent.com/15019030/177506119-6329f10b-6317-4d64-aa0e-f1d68c31bfc5.png)

@flosse bitte

- [x] neues Zertificat einrichten und
- [x] Und automatische verlängerung aktivieren.

[2022-07-15 13:05] wellemut commented on #522
New frontend does not show the ratings and therefore does not face this issue

[2022-07-15 13:05] #522 closed